---
---

<script>
	import gsap from "gsap";

	let isImagePreviewActive = false;

	const nftCardLinks = document.querySelectorAll("[data-nft-card-link]");
	const nftCardImageLink = document.querySelector("[data-nft-card-image-link]");
	const nftCardImageBackground = document.querySelector("[data-nft-card-image-background]");
	const nftCardImageIcon = document.querySelector("[data-nft-card-image-icon]");
	const nftCardOverlay = document.querySelector("[data-nft-card-overlay]");

	nftCardLinks.forEach(link => {
		link.addEventListener("mouseup", (event:Event) => handleLinkMouseUp(event));
		link.addEventListener("mousedown", (event:Event) => handleLinkMouseDown(event));
		link.addEventListener("mouseenter", (event:Event) => handleLinkMouseEnter(event));
		link.addEventListener("mouseleave", (event:Event) => handleLinkMouseLeave(event));
		link.addEventListener("touchstart", (event:Event) => handleLinkTouchStart(event));
		link.addEventListener("touchend", (event:Event) => handleLinkTouchEnd(event));
	})

	nftCardImageLink!.addEventListener("click", () => handleImageClick());
	nftCardImageLink!.addEventListener("mouseenter", () => handleImageMouseEnter());
	nftCardImageLink!.addEventListener("mouseleave", () => handleImageMouseLeave());
	nftCardImageLink!.addEventListener("touchstart", () => handleImageTouchStart());
	nftCardImageLink!.addEventListener("touchend", () => handleImageTouchEnd());

	nftCardOverlay!.addEventListener("click", () => handleOverlayClick());

	const handleLinkMouseUp = (event: Event) => {
		gsap.to(event.target, {
			scale: 1,
			duration: 0.25,
			ease: "power1"
		});
	};

	const handleLinkMouseDown = (event: Event) => {
		gsap.to(event.target, {
			scale: 0.95,
			duration: 0.25,
			ease: "power1"
		});
	};

	const handleLinkMouseEnter  = (event: Event) => {
		gsap.to(event.target, {
			scale: 1,
			color: "#00fff8",
			duration: 0.25,
			ease: "power1"
		});
	};

	const handleLinkMouseLeave  = (event: Event) => {
		gsap.to(event.target, {
			scale: 1,
			color: "#fff",
			duration: 0.25,
			ease: "power1"
		});
	};

	const handleLinkTouchStart = (event: Event) => {
		gsap.to(event.target, {
			scale: 0.95,
			color: "#00fff8",
			duration: 0.25,
			ease: "power1"
		});
	};

	const handleLinkTouchEnd = (event: Event) => {
		gsap.to(event.target, {
			scale: 1,
			color: "#fff",
			duration: 0.25,
			ease: "power1"
		});
	};

	const handleImageClick = () => {
		if (isImagePreviewActive) return;

		isImagePreviewActive = true;

		gsap.set(nftCardOverlay, {
			display: "block",
		});

		gsap.to(nftCardOverlay, {
			opacity: 1,
			duration: 0.25,
			ease: "power1"
		});

		gsap.to(nftCardImageLink, {
			scale: 1.6,
			translateY: "40%",
			duration: 0.25,
			cursor: "default",
			ease: "power1",
		});

		gsap.to(nftCardImageIcon, {
			opacity: 0,
			scale: 0.8,
			filter: "blur(4px)",
			duration: 0.25,
			ease: "power1"
		});

		gsap.to(nftCardImageBackground, {
			opacity:  0,
			duration: 0.25,
			ease: "power1"
		});
	};

	const handleOverlayClick = () => {
		gsap.to(nftCardOverlay, {
			opacity: 0,
			duration: 0.25,
			display: "none",
			ease: "power1",
		})

		gsap.to(nftCardImageLink, {
			scale: 1,
			translateY: 0,
			duration: 0.25,
			ease: "power1",
			onComplete: () => {
				gsap.to(nftCardImageLink, {
					cursor: "pointer",
				});
				isImagePreviewActive = false;
			}
		});
	}

	const handleImageMouseEnter  = () => {
		if (isImagePreviewActive) return;

		gsap.set(nftCardImageIcon, {
			opacity: 0,
			scale: 0.8,
			filter: "blur(4px)",
		});

		gsap.to(nftCardImageIcon, {
			opacity:  1,
			scale: 1,
			filter: "blur(0px)",
			duration: 0.25,
			ease: "power1"
		});

		gsap.to(nftCardImageBackground, {
			opacity:  1,
			duration: 0.25,
			ease: "power1"
		});
	};

	const handleImageMouseLeave  = () => {
		if (isImagePreviewActive) return;

		gsap.to(nftCardImageIcon, {
			opacity: 0,
			scale: 0.8,
			filter: "blur(4px)",
			duration: 0.25,
			ease: "power1"
		});

		gsap.to(nftCardImageBackground, {
			opacity:  0,
			duration: 0.25,
			ease: "power1"
		});
	};

	const handleImageTouchStart = () => {
		if (isImagePreviewActive) return;

		gsap.set(nftCardImageIcon, {
			opacity: 0,
			scale: 0.8,
			filter: "blur(4px)",
		})

		gsap.to(nftCardImageBackground, {
			opacity:  1,
			duration: 0.25,
			ease: "power1"
		});

		gsap.to(nftCardImageIcon, {
			opacity: 1,
			scale: 1,
			filter: "blur(0px)",
			duration: 0.25,
			ease: "power1"
		});
	};

	const handleImageTouchEnd = () => {
		if (isImagePreviewActive) return;

		gsap.to(nftCardImageIcon, {
			opacity: 0,
			scale: 0.8,
			filter: "blur(4px)",
			duration: 0.25,
			ease: "power1"
		});

		gsap.to(nftCardImageBackground, {
			opacity: 0,
			duration: 0.25,
			ease: "power1"
		});
	};
</script>

<article class="nft-card">
	<header>
		<button data-nft-card-image-link  class="nft-card__image-wrapper" type="button">
			<picture>
				<source
					media="(min-width: 375px)"
					srcset="/images/equilibrium-image.jpg"
					type="image/jpg"
				/>
				<img
					class="nft-card__image"
					alt="Equilibrium image"
					src="/images/equilibrium-image.jpg"
				/>
			</picture>
			<span data-nft-card-image-background class="nft-card__image-background">
				<svg data-nft-card-image-icon class="nft-card__image-background-icon" width="44" height="30" viewBox="0 0 44 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M22 0C12 0 3.46 6.22 0 15C3.46 23.78 12 30 22 30C32.01 30 40.54 23.78 44 15C40.54 6.22 32.01 0 22 0ZM22 25C16.48 25 12 20.52 12 15C12 9.48 16.48 5 22 5C27.52 5 32 9.48 32 15C32 20.52 27.52 25 22 25ZM16 15C16 11.69 18.69 9 22 9C25.31 9 28 11.69 28 15C28 18.31 25.31 21 22 21C18.69 21 16 18.31 16 15Z" fill="white" />
				</svg>
			</span>
		</button>
	</header>
	<div class="nft-card__content">
		<a class="nft-card__title-wrapper" href="#">
			<h2 data-nft-card-link class="nft-card__title">Equilibrium #3429</h2>
		</a>
		<p class="nft-card__description">Our Equilibrium collection promotes balance and calm.</p>
		<div class="nft-card__additional-information">
			<div class="nft-card__price-wrapper">
				<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 0L10.9961 9.16875L5.5 12.4312L0 9.16875L5.5 0ZM11 10.2165L5.5 18L0 10.2165L5.5 13.479L11 10.2165Z" fill="#00FFF8" />
				</svg>
				<p class="nft-card__price">0.041 ETH</p>
			</div>
			<div class="nft-card__time-left-wrapper">
				<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M0.638184 6.67388C0.638184 2.99199 3.62295 0.00721741 7.30485 0.00721741C9.07296 0.00721741 10.7687 0.709596 12.0189 1.95984C13.2691 3.21008 13.9715 4.90577 13.9715 6.67388C13.9715 10.3558 10.9867 13.3406 7.30485 13.3406C3.62295 13.3406 0.638184 10.3558 0.638184 6.67388ZM7.30485 7.34055H9.97152C10.3397 7.34055 10.6382 7.04207 10.6382 6.67388C10.6382 6.30569 10.3397 6.00722 9.97152 6.00722H7.97152V4.00722C7.97152 3.63903 7.67304 3.34055 7.30485 3.34055C6.93666 3.34055 6.63818 3.63903 6.63818 4.00722V6.67388C6.63818 7.04207 6.93666 7.34055 7.30485 7.34055Z" fill="#8BACD9" />
				</svg>
				<time class="nft-card__time-left" datetime="2024-06-26T12:00">3 days left</time>
			</div>
		</div>
	</div>
	<footer class="nft-card__creator-wrapper">
		<picture>
			<source
				media="(min-width: 375px)"
				srcset="/images/jules-wyvern-photo.jpg"
				type="image/jpg"
			/>
			<img
				class="nft-card__creator-image"
				alt="Image of Jules Wyvern"
				src="/images/jules-wyvern-photo.jpg"
			/>
		</picture>
		<p class="nft-card__creator-text">
			Creation of
			<a data-nft-card-link class="nft-card__creator-link" href="#">Jules Wyvern</a>
		</p>
	</footer>
</article>
<div data-nft-card-overlay class="nft-card__overlay"></div>

<style>
	.nft-card__overlay {
		display: none;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.8);
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index: 1;
	}

	.nft-card {
		border-radius: 1.5rem;
		box-shadow: 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
		background: var(--very-dark-blue-card-bg);
		padding: 2.4rem;
		width: 100%;
		max-width: 32.7rem;
		margin-left: 2.4rem;
		margin-right: 2.4rem;
		position: relative;

		@media (width >= 768px) {
			max-width: 35rem;
			padding: 2.4rem 2.4rem 3.2rem 2.4rem;
		}
	}

	.nft-card__image-wrapper {
		border-radius: 0.8rem;
		text-decoration: none;
		overflow: hidden;
		position: relative;
		display: block;
		border: none;
		cursor: pointer;
		z-index: 2;
	}

	.nft-card__image {
		border-radius: 0.8rem;
		width: 27.8rem;
		height: 27.8rem;
		object-fit: cover;

		@media (width >= 768px) {
			width: 30.2rem;
			height: 30.2rem;
		}
	}

	.nft-card__image-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(0, 255, 248, 0.5);
		z-index: 1;
		border-radius: 0.8rem;
		opacity: 0;
	}

	.nft-card__image-background-icon {
		position: relative;
	}

	.nft-card__content {
		margin-top: 2.4rem;
		margin-bottom: 1.6rem;
		display: flex;
		flex-direction: column;

		@media (width >= 768px) {
			margin-bottom: 2.4rem;
		}
	}

	.nft-card__title-wrapper {
		text-decoration: none;
	}

	.nft-card__title {
		font-family: var(--font-family), sans-serif;
		font-weight: 600;
		font-size: 2.2rem;
		color: var(--white);
		text-align: left;
	}

	.nft-card__description {
		font-family: var(--font-family), sans-serif;
		font-weight: 300;
		font-size: 1.8rem;
		line-height: 144%;
		color: var(--soft-blue);
		margin-top: 1.2rem;
		margin-bottom: 2.4rem;
		text-align: left;

		@media (width >= 768px) {
			margin-top: 1.6rem;
		}
	}

	.nft-card__additional-information {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.nft-card__price-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 0.7rem;
	}

	.nft-card__price {
		font-family: var(--font-family), sans-serif;
		font-weight: 600;
		font-size: 1.5rem;
		color: var(--cyan);
		text-transform: uppercase;

		@media (width >= 768px) {
			font-size: 1.6rem;
		}
	}

	.nft-card__time-left-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 0.7rem;
	}

	.nft-card__time-left {
		font-family: var(--font-family), sans-serif;
		font-weight: 400;
		font-size: 1.5rem;
		color: var(--soft-blue);

		@media (width >= 768px) {
			font-size: 1.6rem;
		}
	}

	.nft-card__creator-wrapper {
		border-top: 0.1rem solid var(--very-dark-blue-line);
		padding-top: 1.6rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 1.6rem;
	}

	.nft-card__creator-image {
		border-radius: 100%;
		border: 0.1rem solid var(--white);
		width: 3.3rem;
		height: 3.3rem;
		object-fit: cover;
	}

	.nft-card__creator-text {
		font-family: var(--font-family), sans-serif;
		font-weight: 400;
		font-size: 1.5rem;
		color: var(--soft-blue);

		@media (width >= 768px) {
			font-size: 1.6rem;
		}
	}

	.nft-card__creator-link {
		font-family: var(--font-family), sans-serif;
		font-weight: 400;
		font-size: 1.5rem;
		color: var(--white);
		text-decoration: none;
		position: relative;
		display: inline-block;

		@media (width >= 768px) {
			font-size: 1.6rem;
		}
	}
</style>
